// Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Variables
@import 'variables';

//colors
$teagreen: #C2D8B9;
$nyanza: #8DB67C;
$floralwhite: #FFFCF7;
$wildblueyonder: #A1B5D8;
$slategrey: #738290;

$primary: $teagreen;
$link: $nyanza;
$info: $wildblueyonder;

//General
body, button, input, select, textarea, p{
    font-family: "Montserrat", sans-serif
}

.title, .subtitle , h1, h2, h3, h4, h5, h6{
    font-family: "Raleway", sans-serif !important;
}

// Bulma
@import "~bulma/bulma.sass";

body{ height:100%; margin:0; }
header{ height:50px; margin-bottom: 50px;}
footer{ height:50px; }

/* Trick */
body, button, input, select, textarea{
    display:flex;
    flex-direction:column;
}

.has-fullheight{
    min-height: 70vh;
}

.no-padding-left{
    padding-left:0;
}

.hero {
    margin-bottom: 50px;
}

.hero-body{
    background-image: url("../../img/sea.jpg");
}

.container-with-top-margin{
    margin-top:20px;
}

//.content{ width:1000px;}

footer{ margin-top:50px;}
