// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import "~bulma/bulma.sass";

body{ height:100%; margin:0; }
header{ height:50px; margin-bottom: 50px;}
footer{ height:50px; }

/* Trick */
body{
    display:flex;
    flex-direction:column;
}

.has-fullheight{
    min-height: 70vh;
}

.hero {
    margin-bottom: 50px;
}

.container-with-top-margin{
    margin-top:20px;
}

.content{ width:1000px;}

footer{ margin-top:50px;}
